.col{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 50px;
    
}
h1{
    display: flex;
    justify-content: center;
}
.form{
    margin: 20px 20px;
}
.form2{
    margin: 20px 20px;
}
.col1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgb(190, 143, 73);
}
.head{
    background-color: blanchedalmond;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.hasil{
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}